@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}

.view{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 191, 191);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    border-radius: 30px;
    box-shadow: 5px 10px;
    background-color: rgba(250, 85, 85, 0.911);
    position: relative;
    flex-wrap: wrap;
    max-width: 70%;
    width: 100%;
}

.imagecontainer{
    position: absolute;
    top: -30px;
}

.ContentContainer{
    text-align: center;
    font-size: 10px;
    color: white;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Textvalue{
    display: flex;
    gap: 10px;
}

.ButtonLink>button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(143, 0, 0);
    gap: 12px;
    cursor: pointer;
    border-radius: 10px;
    border-color: rgb(248, 69, 69);
    box-shadow: 5px 3px;
}

.ButtonLink>button:active{
    transform: translateX(5px);
    transition: all 0.3s;
}

.ButtonLink{
    text-decoration: none;
}

