<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up Form</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'Signuppage/Signuppage.css'%}">
</head>

<body style="background-color: #e0c1a1;">
    <div class="container">
        <div class="form-container">
            <div class="text-center">
                <h1 class="title">Sign up</h1>
                <p class="subtitle">Create your account below</p>
            </div>
            <div class="form-content">
                <form method="POST">
                    {%csrf_token%}
                    <div class="input-group">
                        <input type="text" name="firstName" required id="firstName" placeholder="User Name" class="input-field" autocomplete="off" />
                        <label for="firstName" class="input-label">User Name</label>
                    </div>
                    <div class="input-group">
                        <input type="email" name="email" required id="secondName" placeholder="Email Address" class="input-field" autocomplete="off" />
                        <label for="secondName" class="input-label">Email Address</label>
                    </div>
                    <div class="input-group">
                        <input type="number" name="age" required id="age" placeholder="Age" class="input-field" autocomplete="off" />
                        <label for="age" class="input-label">Age</label>
                    </div>
                    <div class="input-group">
                        <select name="gender" required id="gender" class="input-field">
                            <option value="" disabled selected hidden></option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                        <label for="gender" class="input-label">Gender</label>
                    </div>
                    <div class="input-group">
                        <input type="password" required name="password" id="password" placeholder="Password" class="input-field" />
                        <label for="password" class="input-label">Password</label>
                    </div>
                    <div class="input-group">
                        <input type="password" required name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="input-field" />
                        <label for="confirmPassword" class="input-label">Confirm Password</label>
                    </div>
                    <div class="submit-btn-container">
                        <button type="submit" class="submit-btn">Sign up</button>
                    </div>
                    <p class="text-center signup-link">Already have an account?
                        <a href="{%url 'Signin'%}" class="signup">Sign in</a>.
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
